.Thumbnails {
  /* this is the styling of the images of the site */
  width: 300px;
  display: block;
}
.Search-bar {
  font-size: 20px;
  display: block;
}
.video_title {
}
.video_author {
}
.video_stat {
}
.div_video_container {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 15px;
  border-radius: 2px;
  border-style: solid;
}
